@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&family=Rubik&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

*, html { margin: 0; padding: 0; }

:root {
    --clr-surface: 0, 0%, 10%;
    --clr-surface-container: 0, 0%, 8%;
    --clr-surface-container-light: 0, 0%, 20%;
    --clr-surface-on: 0, 0%, 80%;

    
    --clr-primary: 209, 69%, 43%;
    --clr-primary-60: hsl(200, 63%, 45%);
    --clr-primary-40: hsl(200, 63%, 30%);

    --clr-accent-on: 0, 0%, 100%;
    

    --fs-xl: 4rem;
    --fs-l: 2.5rem;
    --fs-100: 2rem;
    --fs-90: 1.75rem;
    --fs-80: 1.50rem;
    --fs-70: 1.25rem;
    --fs-60: 1.125rem;
    --fs-50: 1rem;

    /* --fs-xxl: 5rem;
    --fs-xl: 3.5rem;
    --fs-l: 2.5rem;
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem; */
}

body {
    background-color: hsl(var(--clr-surface));
    color: hsl(var(--clr-surface-on));

    font-family: "Roboto", "sans-serif";
}

h1 { font-size: var(--fs-xl); }
h2 { font-size: var(--fs-l); }
h3 { font-size: var(--fs-100); }

a {
    color: hsl(var(--clr-surface-on));
}

p { font-size: var(--fs-50); }
img {
    width: 100%;
}

button { 
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;

    font-size: var(--fs-50);
    font-weight: 500;
}

.flex { 
    display: flex;
    gap: var(--gap, 1rem);
}

.grid { 
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.primary-button {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-accent-on));
}

.primary-button-outlined {
    border: 1px solid hsl(var(--clr-primary));
    background: none;
    color: hsl(var(--clr-primary));
}

.desktop { display: block; }
.mobile { display: none; }


@media (max-width: 120rem ) {
    .container { max-width: 1280px; }
}
@media (max-width: 62.5rem ) {
    h1 { font-size: var(--fs-l); }

}

@media (max-width: 46rem) {
    .desktop { display: none; }
    .mobile { display: block; }
}